
.IMPERIUS {
	background-color:#D9B249 ;
	
}

.ACCIO {
	background-color: #3BBBBB;

}

.CRUCIATUS {
	background-color:#75757A ;
}

.OPPUGNO {
	background-color: #BB3BAD;

}

.PERICULUM {
	background-color: #D94956;

}

.ALOHOMORA {
	background-color:#2F60B0 ;

}

